<p>Dear <%= @name %></p>

<p>Thank you for contacting us. We pride ourselves on responsive customer service and will provide you a response within 24 hours.</p>

<p>Sincerely,</p>

<p>Customer Support</p>